:root {
  --bg-color-main: #001653;
  --bg-color-highlight: #373f4e;
  --link-color: #289ab9;

  --nav-height: -40px;
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 12px;
  
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 8px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--bg-color-highlight); 
}


html, body {
  /* scrollbar-width: ; */
  /* font-family: 'Josefin Sans', sans-serif; */
  font-family: 'Raleway', sans-serif;
  
}

.App-link {
  color: var(--link-color);
}
.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;  
  color: #ddd;  
  text-align: center;
  background-size: 500% 500%;
  background-image: linear-gradient(
        -45deg, 
        #000c1b 0%,
        #003274 50%,
        /* #003274 65%, */
        #000c1b 100%
  );  
  animation: AnimateBG 30s ease infinite;
}

@keyframes AnimateBG { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
/* 
Color-shifting gradient background Credit: 
Warren Davies
https://alvarotrigo.com/blog/animated-backgrounds-css/
*/
.App-main {
  height: 100%;
  width: 100%;
  scroll-snap-type: y auto;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-gutter: 0;
}



/* GENERICS */
p {
  letter-spacing: 1px;
}
img {
  max-height: 75vh;
}

.section-container {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  z-index: 1;
  min-height: 101%;
  position: relative;
}
.section-container:nth-of-type(odd) {
  background-color: rgba(255,255,255, .05);
  box-shadow: 0px -10px 12px -5px rgba(0,0,0,.5);
}
.section-container:nth-of-type(even) {
  background-color: rgba(0,0,0,.1);
  box-shadow: 0px -10px 12px rgba(0,0,0,.5);
}

.section-title {
  margin-top: 16px;
  text-transform: uppercase;
}

.block-center {
  max-width: min(75%, 950px);
}
.block-shift-by-nav {
  transform: translateY( var(--nav-height) );
}
.section-block-flex {
  height: 85%;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.section-block-grid-2 {
  height: 85%;
  width: 95%;
  margin: 16px auto;
  display: grid;
  grid-template-columns: repeat(2, 45%);
  justify-content: center;
}

/* HEADER AND NAV */
.App-header, .App-footer {
  width:100vw;
  }
.nav-container a {
  padding: 0 12px;
  font-size: .85em;
  /* font-weight:bold; */
  text-transform: uppercase;
  cursor: pointer;
  transition: all .15s ease-in-out;
}

.nav-container span svg {
  height:28px;
  width: 28px;
  margin: 0 5px;
  fill: white;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}
.nav-container a:hover, .nav-container span svg:hover {
  color: var(--link-color) !important;
  fill: var(--link-color);
  font-style: italic;
  font-weight:bold;
} 
@media (max-width: 768px) {
  .nav-container a {
    color:white;
    font-size:1em;
    padding: 4px;
  }
  .navbar-dark .navbar-nav .nav-link {
    color: white;
  }
  .nav-container span svg {
    height: 20px;
    width: 20px;
    margin: 4px 5px;
  }
}


/* HOME/SPLASH PAGE */

.home-container {
  z-index: 10;
  font-size: 1.4em;
}
.home-container h3 {
  margin: 0;
  margin-bottom: -8px;
  letter-spacing: 6px;
} 
.home-container h5 {
  margin: 0;
  font-style: italic;
}
.home-container h1 {
  margin: 0;
} 
.home-container h4 {
  margin: 0;
  font-weight:normal;
  letter-spacing: -1px;
}
.iama-container {
  margin-top: 8px;
  width:fit-content;
  height: fit-content;
  position: relative;
}
.iama-list {
  height: 5.8em;
  overflow: hidden;
  opacity: 35%;
  position: relative;
  font-size: 1rem;
  text-align: justify;
}
.iama {
  width: 100%;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-44%);
  font-size: 2em;
  font-weight:bold;
  text-shadow: 0 0 25px white;
}
@media (max-width: 768px) {
  .home-block-center {
    max-width: 99%;
  }
  .iama {
    font-size: 1.4em;
    line-height: 1em;
;
  }
  .iama-list {
    font-size: .65rem;
  }
}



.iama-list div {
  text-align: justify;
  letter-spacing: 3px;
  line-height: 1.3em;
  /* display: inline; */
  transform: translateY(0%);
  animation: scroll-animation 60s ease-out alternate infinite;
}
@keyframes scroll-animation {
  from {transform: translateY(0%)}
  to {transform: translateY(calc(5.8em - 100%))}
}



.about-container, .contact-container {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-container h2 {
  margin: 12px;
}
.about-container .primary-img-col {
  display:flex; 
  justify-content: end;
}
.about-container .primary-img {
  position: relative;
  height: fit-content;
  width: fit-content;
  border: solid 2px white;
  background-image: url('./assets/Agra-India.jpg');
  background-size: 165%;
  background-position: center center;

} .about-container .primary-img img {
  height:100%;
  max-width:100%;
  opacity: 0;
}
.about-container .primary-img .circus-img-div {
  position: absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background-image: url('./assets/Fire-juggling.jpg');
  background-size: cover;
  background-position: center center;
  transition: all .65s ease-in-out;
  opacity: 0;
  z-index:10;
}
a.about-circus-hover, a.about-circus-hover:visited {
  color: var(--link-color);
}
.about-container .about-info {
  max-width: 65%;
  padding: 15px;
  text-align: justify;
}
.about-container h3, .about-container p {
  margin: 8px auto;
}
@media (max-width: 768px) {
  .about-container {
    padding: 1.5em 1em;
  }
  .about-container .primary-img-col {
    display:flex; 
    justify-content: center;
  }  
  .about-container .primary-img img {
    object-fit: cover;
    height: 280px;
    width: 230px;
    margin: 0 auto;
  }
  .about-container .about-info {
    max-width:100%;
    font-size: .9em;
  }
}


.projects-container {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
}
.projects-container h2 {
  margin: 12px;
}
.project-tile {
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  position: relative;
  height: fit-content;
  margin: 10px auto 24px auto;
  padding: 8px;
}
.project-info-block { 
  text-align: left;
  width: 50%;
  transform: translate(10%,0);
  line-height: 1.3em;
}
.project-tile-description {
  margin: 8px 0 12px 0;
  padding: 16px;
  background: rgb(0 30 68 / 85%);
  box-shadow: 4px 4px 8px -4px black;
}
.skills-row {
  text-align: left;
  width: 75%;
  display: flex; 
  justify-content: start;
  align-items: center;
}
.skills-row > div {
  margin-right: 8px;
}
.skill-tag {
  display: inline-block;
  padding: 1px 5px; 
  margin: 2px; 
  border: solid thin gray;
  text-transform: uppercase;
  font-size: .75em;
  /* border-radius: 8px; */
}
.project-tile .bg-img {
  border-left: solid 1px white;
  height: min(335px, 95vh);
  width: 50%;
  background-size: 100% 100%;
  background-position: 0 0;
  filter: brightness(30%) blur(1px) contrast(1.2) grayscale(.5);
  z-index:-1; 
  transition: filter .5s ease-in-out, background-size 1s ease-in-out;
}  
@media (min-width: 768px) {
  .project-tile:hover .project-tile-description {
    box-shadow: 4px 4px 8px black;
    transition: all .5s ease-in-out;
  }
  .project-tile:hover .bg-img {
    filter: brightness(100%) blur(0px);
    background-size: 120% 120%;
    background-position: 0 0;
  } 
}
.project-tile-links  {
  margin-top: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
} 
.project-tile-links div {
  margin-right: 10px;
}
.project-tile-links a svg {
  width: 20px;
  height: 20px;
  color:white;
  margin:0 2px;
  transition: all .2s ease-in-out;
}
.project-tile-links a:hover svg {
  color: var(--link-color);
}
#proj-set-game {
  background-image: url("assets/game-of-Set.jpg");
}  
#proj-birding-tracker {
  background-image: url("assets/birding-tracker.jpg");
}  
#proj-foodle {
  background-image: url("assets/foodle.jpg");
}  
#proj-greenthumb {
  background-image: url("assets/GreenThumb.jpg");
}  

@media (max-width: 768px) {
  .projects-container {
    padding: 1.5em 0;
  }
  .projects-container .row {
    --bs-gutter-x:0;
  }
  .projects-container h2 {
    margin: 12px 0;
  }
  .project-tile {
    width:100%;
  }
  .project-info-block {
    width: 100%;
    transform: translate(0,0);
  }
  .project-tile-description {
    background: rgba(44, 66, 94, .45);
    text-align: left;
    font-size: .95em;
  }
  .skills-row {
    width:100%;
  }
  .projects-container .bg-img {
    position: absolute;
    top:0;
    left: 0;
    width: 98%;
    filter: opacity(.2) saturate(.5) blur(1px);
    transition: all .5s ease-in-out;
  }
  .project-tile-description:focus {
    filter: opacity(.5) saturate(.75) blur(0);
  }

}


.contact-container {
  height: calc(100vh - 56px);
  width: 100%;
  position:relative;
  padding: 0;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact-header-row {
  height: 8em;
}
.contact-container .contact-content {
  width:85%;
  margin: 0 auto;
}

.btn, .btn:visited {
  margin: 8px 16px;
  border-radius: 0;
  border: solid 2px white;
  background: none;
  opacity: 0.85;
  text-transform: uppercase;
}
.btn.resume-btn {
  color: white;
  background-color: rgba(200,225,255,.25);
}
.btn:hover, .btn:active {
  background-color: var(--link-color);
  border: solid 2px white;
  font-style: italic;
  font-weight:bold;
  opacity: 1;
}

@media (max-width: 768px) {
  .contact-container {
    padding: 0;
  }
}

.contact-main-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-container {
  height: fit-content;
  overflow-x: hidden;
  position: relative;
  text-align: center;
}
img.footer-img {
  width: 100%;
  /* height: fit-content; */
  opacity: .25;
}
.footer-text {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 20px 0 15px 0;
  background-image: linear-gradient(0deg, rgba(0,0,0,.75), transparent);}
  
  .footer-container span svg {
    height:24px;
    width: 24px;
    margin: 5px 5px 0 5px;
    fill: white;
    transition: all 150ms ease-in-out;
    cursor: pointer;
  }
  .footer-container span:hover svg {
  fill: var(--link-color);
} 
@media (max-width: 768px) {
  .footer-container {
    height:200px;
    position:relative;
  }
  img.footer-img {
    height:160px;
    width:auto;
    position: absolute;
    bottom:25px;
    left: -40%;
  }
  .footer-text {
    font-size: .85em;
  }
  .footer-container span svg {
    height: 20px;
    width: 20px;
    margin: 4px 5px;
  }
}
  